<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spyfall</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
        <link rel= "stylesheet" type= "text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lobby.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js" integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <body>
        <!-- Nav bar -->
        <nav role="navigation">
            <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/"><li>Home</li></a>
                <a href="#"><li>How to play</li></a>
                <a href="#"><li>Support</li></a>
            </ul>
            </div>
        </nav>

        <!-- Lobby -->
        <div class="alert-container" id="alert-message">
          <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
              <strong>Warning!</strong> This game has now ended. Click 'Leave Game' or return home.
          </div>
        </div>

        <div class="lobby-container">
            <div class="invite-code-container">
                <h1 class="invite-code-title">Invite code:</h1>
                <button class="invite-code-btn" onclick="copyGameCode()">{{ gameCode }}</button>
            </div>
            <h3 class="game-length">Game length: 8 minutes</h2>
            {% if gameOwner is true %}
                <button class="outline-button" id="start-game" onclick="startGame()">Start game</button>
                <div class="spacer" style="display: inline-block; margin: 5px;"></div>
            {% endif %}
            <form style="display: inline-block;" action="{{ url_for('handle_leave_lobby') }}" method="POST">
              <button class="outline-button" id="leave-lobby" style="margin-top: 10px;" type="submit">Leave lobby</button>
            </form>
            <div class="players" id="playerList">
                {% for player in joinedPlayers %}
                    <h1 class="player-name">{{ player }}
                {% endfor %}
            </div>
        </div>
    </body>

    <script>
      const socket = io();
      const detectiveName = '{{ detectiveName }}'
      const gameCode  = '{{ gameCode }}'
      var playerList = [];
      
      // Force page refresh if lobby was accessed from history (back arrow)
      if(performance.navigation.type == 2){
        location.reload(true);
      }
      
      // Join socket room (TODO: Emit if not already connected to room)
      socket.emit("join", {'playerName': '{{ detectiveName }}', 'channel': '{{ gameCode }}'})
      

      // Handler for updating lobby with joining players
      socket.on('playerJoinLog', data => {
        console.log(data["message"] + " joined");

        if (playerList.includes(data["message"]) == false) {
          let newPlayerName = document.createElement('H1')
          newPlayerName.innerText = data["message"]
          newPlayerName.classList.add('player-name')
          $('.players').append(newPlayerName)
          playerList.push(newPlayerName);
        }
      });
      
      // Handler for retrieving location and role
      socket.on('gameStarting', data => {
        console.log(data["gameCode"] + " is starting...");
        let data_to_send = {'playerName': '{{ detectiveName}}', 'location': data["location"], 'channel': '{{ gameCode}}'}
        $.ajax({
            url: '/get_game_info',
            type: 'POST',
            data: JSON.stringify(data_to_send),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
              console.log("Request succeeded for " + '{{ detectiveName }}')
              if (response.redirect) {
                window.location.href = response.redirect;
              }
            },
            error: function (response) {
              console.log("Request failed for " + '{{ detectiveName }}');
            }
        });
        // socket.emit("start", {'playerName': '{{ detectiveName }}', 'location': data["location"], 'channel': '{{ gameCode }}'});
      });
      
      // Handler for 'load_HTML' messages from server
      socket.on('load_HTML', (html) => {
        //$('html').html(html)
        document.open(); 
        document.write(html); 
        document.close();
        console.log("loadHTML message received on client side");
      });

      // Handler for redirect
      socket.on('redirect', (dest) => {
        // console.log("Switching to the play page...")
        // window.location.href = dest;
        console.log("'{{ detectiveName }}' received redirect message from server");
      });

      // Handler for updating lobby with joining players
      socket.on('game_ended', data => {
          $("#alert-message").show();
      });

      // Handler for updating lobby when players leave
      socket.on('playerLeft', data => {
          var playerName = data["message"];
          var playerList = document.getElementById('playerList').children;
          for (let i = 0; i < playerList.length; i++) {
            if ((playerList[i].innerText).localeCompare(playerName) == 0) {
              console.log("Match found!");
              playerList[i].remove();
            }
          }
      });

      // Function to copy game code
      function copyGameCode() {
        var gameCode = '{{ gameCode }}';
        navigator.clipboard.writeText(gameCode);
        alert("Game code copied!");
      }

      // Function for game owner to start game
      function startGame() {
        // Get game owner to choose location and assign roles to each player
        socket.emit("organizeGame", {'channel': '{{ gameCode }}'})
      }
    </script>
</html>