<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spyfall</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
        <link rel= "stylesheet" type= "text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/play.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js" integrity="sha512-Xm9qbB6Pu06k3PUwPj785dyTl6oHxgsv9nHp7ej7nCpAqGZT3OZpsELuCYX05DdonFpTlBpXMOxjavIAIUwr0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <body>
        <!-- Nav bar -->
        <nav role="navigation">
            <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/"><li>Home</li></a>
                <a href="#"><li>How to play</li></a>
                <a href="#"><li>Support</li></a>
            </ul>
            </div>
        </nav>

        <!-- Main page -->
        <div class="main-container">
            <!-- Timer -->
            <h1 id="timer">8:00</h1>

            <!--Location image -->
            <div class="img-container">
                <img class="location-img" src='{{image}}' referrerpolicy="no-referrer" alt="Location image">
            </div>
            
            <!--Role-->
            <h1 class="role-text">You are a <span class="player-role">{{ role }}</span></h1>
            <!-- Location -->
            {% if selectedLocation is not none %}
                <h1 class="selected-location">at a {{ selectedLocation }}</h1>
            {% endif %}

            <!-- Player names -->
            <div class="players-list-container">
                <h1 class="player-list-title">Player list:</h1>
                <div class="player-names">
                    {% for player in players %}
                        <div class="player-name">
                            <input type="checkbox" id="{{ player }}" />
                            <label for="{{ player }}">{{ player }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="location-list-container">
                <h1 class="location-list-title">Locations:</h1>
                <div class="location-names">
                    {% for location in locations %}
                        <div class="location-name">
                            <input type="checkbox" id="{{ location }}" />
                            <label for="{{location }}">{{ location }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <p id="footer-text">Designed and developed by Pathum Danthanarayana</p>
        </footer>
    </body>

    <script>
        const intervalID = setInterval(update_timer, 1000);
        function update_timer() {
            $.getJSON(
                "/_get_time",
                data => {
                    $("#timer").text(data.result);
                    if (data.result == "00:00") {
                        clearInterval(intervalID);
                    }
                }
            )
        }
    </script>
</html> 