@font-face {
    font-family: "Editorial";
    src: url("fonts/PPEditorialOld-UltralightItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Editorial";
    src: url("fonts/PPEditorialOld-Ultralight.otf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Editorial";
    src: url("fonts/PPEditorialOld-Regular.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Editorial";
    src: url("fonts/PPEditorialOld-Ultrabold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Editorial";
    src: url("fonts/PPEditorialOld-UltraboldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #060807;
    font-family: "Editorial";
    font-weight: 100;
    color: #EAEBE6;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: bold;
}

p {
    font-weight: 100;
}

/** Overriding Bootstrap modal styling **/
.modal-footer {
    display: flex;
    justify-content: center;
}
.modal-content {
    color: #060807;
}
.modal-content .outline-button {
    box-shadow: 0 0 0 2px rgba(93, 93, 93, 0.4) inset;
    color: #060807;
}

/** Nav bar **/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #B69965;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #EAEBE6;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}




/** Outline button **/
.outline-button {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) inset;
    color: #EAEBE6;
    padding: 8px 15px 8px 15px;
    position: relative;
    cursor: pointer;
}
.outline-button::before, .outline-button::after {
    content: "";
    position: absolute;
    height: 0;
    width: 2px;
    transition: height 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.outline-button::before {
    box-shadow: 2px 2px 0 #B69965 inset;
    bottom: 0;
    left: 0;
}
.outline-button::after {
    box-shadow: -2px -2px 0 #B69965 inset;
    top: 0;
    right: 0;
}
.outline-button:hover::before, .outline-button:hover::after {
    height: 100%;
    width: 100%;
    transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1), width 0.4s 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}


/** Lobby **/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #EAEBE6;
  background: #060807;
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(182, 153, 101, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✕';
  position: absolute;
  top: .594em;
  left: .09em;
  font-size: 1.375em;
  color: #B69965;
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(182, 153, 101, .2);
}

.timer-finished {
  color: #B69965;
}
.main-container {
  margin-top: 25px;
  text-align: center;
}

.img-container {
  width: 20%;
  margin: 0 auto;
}
.location-img {
  width: 100%;
  height: 100%;
}

.player-role {
  color: #B69965;
}

.role-text {
  margin-top: 25px;
  padding: 0;
}

.selected-location {
  font-weight: 100;
  font-size: 22px;
  padding: 0;
}

.players-list-container, .location-list-container {
  margin-top: 50px;
  text-align: center;
}

.player-names, .location-names {
  width: 50%;
  margin: 0 auto;
}

.player-name, .location-name {
  display: inline-block;
  padding: 10px;
}

.player-list-title, .location-list-title {
  font-size: 25px;
}

footer {
  margin-top: 60px;
  text-align: center;
}

.wrapper {
  padding-top: 50px;
  max-width: 80em;
  margin: 0 auto;
}
.wrapper li {
  display: inline-block;
  overflow: hidden;
  max-height: 200px;
}

.wrapper ul {
  padding: 0;
}

.wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.wrapper .overlay-container {
  display: block;
  position: relative;
}
.wrapper .overlay-container::before {
  content: attr(data-overlay-text);
  position: absolute;
  z-index: 1;
 /*On top of parent*/
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 20px;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .overlay-container:hover::before {
  opacity: 1;
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.wrapper .overlay-container .overlay-img {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .overlay-container:hover .overlay-img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.4;
}

.location-active {
  filter: blur(1px) brightness(25%);
  -webkit-filter: blur(1px) brightness(25%);
  -moz-filter: blur(1px) brightness(25%);
}

.actions-container {
  margin-top: 50px;
  text-align: center;
}

.alert-container {
  display: none;
  padding: 50px 0px 20px 0px;
}