/** Font faces **/
@font-face {
    font-family: "Geist Mono";
    src: url("fonts/GeistMono-UltraLight.otf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Geist Mono";
    src: url("fonts/GeistMono-Regular.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Geist Mono";
    src: url("fonts/GeistMono-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #060807;
    font-family: "Geist Mono";
    font-weight: 100;
    color: #EAEBE6;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

/** Headers and paragraphs **/
h1 {
    font-weight: 200;
}

h2 {
    font-weight: bold;
}

p {
    font-weight: 100;
}

/** Nav bar **/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #B69965;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Hamburger for menu
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #EAEBE6;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/** Footer **/
footer {
    text-align: center;
    margin-top: 200px;
    width: 100%;
}

#footer-text {
    font-size: 12px;
}

/** Header **/
.header {
    color: #EAEBE6;
}

.subheader {
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

/** Rules **/
.rules-container {
    margin-top: 80px;
    text-align: center;
}

.text {
    width: 80%;
    margin: 0 auto;
}